{{extend 'layout.html'}}

{{block header}}
<section id="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp" data-wow-delay=".3s">
                    <!-- Slider -->
                    <section class="cd-intro">
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
                            <span>HI, MY NAME IS ABDUL HALIM & I AM A</span><br/>
                            <span class="cd-words-wrapper">
                                <b class="is-visible">WEB DEVELOPER</b>
                                <b>SYS ADMIN</b>
                            </span>
                        </h1>
                    </section>
                    <!-- cd-intro -->
                    <!-- / .slider -->

                    <h2 class="wow fadeInUp animated" data-wow-delay=".6s" >
                        With 4 years experience, I've occupied many roles including digital design director,<br> web developer and sysadmin. This site showcases some of my work.
                    </h2>
                    <a class="btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default btn-green" data-wow-delay=".9s" href="#works" data-section="#works" >View Works</a>

                </div>
            </div>
        </div>
    </div>
</section>

<!--
==================================================
Slider Section Start
================================================== -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                    <h2>
                        ABOUT ME
                    </h2>
                    <p>
                        Hello, I’m a Web Developer & Sysadmin from Chittagong, Bangladesh. I hold a B.Sc. Engineering degree of Applied Physics, Electronics & Communication Engineering from the University of Chittagong and continuing masters degree of EEE from the University of Chittagong.
                    </p>
                    <p>
                        I like to think myself as a friendly and polite person with high ambitions in life. I always love to set myself goals and work hard to achieve those. I am passionate about learning new things and I always challenge myself with those. I have tried and have been successful to self-learn things that are considered difficult among others and I always enjoy it. I always try to cross my boundaries and try something new beyond my comfort zone and in my view that is my most precious quality.
                    </p>
                    <p>
                        Seeking to leverage acquired academic knowledge and work experience to effectively fill your office clerk position. A dedicated worker aiming to help achieve company goals and take on more responsibility as quickly as possible.
                    </p>
                </div>

            </div>
            <div class="col-md-6 col-sm-6">
                <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                    <img src="{{=URL('static', 'images/about/about.jpg')}}" alt="">
                </div>
            </div>
        </div>
    </div>
</section> <!-- /#about -->

<!--
==================================================
Portfolio Section Start
================================================== -->
<section id="works" class="works">
    <div class="container">
        <div class="section-heading">
            <h1 class="title wow fadeInDown" data-wow-delay=".3s">Latest Works</h1>
            <p class="wow fadeInDown" data-wow-delay=".5s">
                Look at my works. Here I give you my latest works done with my previous company Rumytechnologies, BD (now stellar), 4th year and MS projects.
            </p>
        </div>
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                    <div class="img-wrapper">
                        <img src="{{=URL('static','images/portfolio/item-1.jpeg')}}" class="img-responsive" alt="this is a title" >
                        <div class="overlay">
                            <div class="buttons">
                                <a rel="gallery" class="fancybox" href="{{=URL('static','images/portfolio/item-1.jpeg')}}">Demo</a>
                                <a target="_blank" href="single-portfolio.html">Details</a>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                        <h4>
                            <a href="#">
                                VAV Control
                            </a>
                        </h4>
                        <p>
                            Variable Air Volume (VAV) control system.
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-4 col-xs-12">
                <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="img-wrapper">
                        <img src="{{=URL('static','images/portfolio/item-2.jpeg')}}" class="img-responsive" alt="this is a title" >
                        <div class="overlay">
                            <div class="buttons">
                                <a rel="gallery" class="fancybox" href="{{=URL('static','images/portfolio/item-2.jpeg')}}">Demo</a>
                                <a target="_blank" href="single-portfolio.html">Details</a>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                        <h4>
                            <a href="#">
                                Motor Control System
                            </a>
                        </h4>
                        <p>
                            Web & Android based motor control system
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-4 col-xs-12">
                <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="img-wrapper">
                        <img src="{{=URL('static','images/portfolio/item-3.jpeg')}}" class="img-responsive" alt="" >
                        <div class="overlay">
                            <div class="buttons">
                                <a rel="gallery" class="fancybox" href="{{=URL('static','images/portfolio/item-3.jpeg')}}">Demo</a>
                                <a target="_blank" href="single-portfolio.html">Details</a>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                        <h4>
                            <a href="#">
                                Stellar (Rumytechnologies)
                            </a>
                        </h4>
                        <p>
                            Website of stellar.
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-4 col-xs-12">
                <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="img-wrapper">
                        <img src="{{=URL('static','images/portfolio/item-4.jpeg')}}" class="img-responsive" alt="" >
                        <div class="overlay">
                            <div class="buttons">
                                <a rel="gallery" class="fancybox" href="{{=URL('static','images/portfolio/item-4.jpeg')}}">Demo</a>
                                <a target="_blank" href="single-portfolio.html">Details</a>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                        <h4>
                            <a href="#">
                                RAMS Access Control
                            </a>
                        </h4>
                        <p>
                            Fingerprint access control system.
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-4 col-xs-12">
                <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="900ms">
                    <div class="img-wrapper">
                        <img src="{{=URL('static','images/portfolio/item-6.jpeg')}}" class="img-responsive" alt="" >
                        <div class="overlay">
                            <div class="buttons">
                                <a rel="gallery" class="fancybox" href="{{=URL('static','images/portfolio/item-6.jpeg')}}">Demo</a>
                                <a target="_blank" href="single-portfolio.html">Details</a>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                        <h4>
                            <a href="#">
                                RFID Access Control System
                            </a>
                        </h4>
                        <p>
                            RFID access control system.
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-4 col-xs-12">
                <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="1200ms">
                    <div class="img-wrapper">
                        <img src="{{=URL('static','images/portfolio/item-5.jpeg')}}" class="img-responsive" alt="" >
                        <div class="overlay">
                            <div class="buttons">
                                <a rel="gallery" class="fancybox" href="{{=URL('static','images/portfolio/item-5.jpeg')}}">Demo</a>
                                <a target="_blank" href="single-portfolio.html">Details</a>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                        <h4>
                            <a href="#">
                                Location Tracker
                            </a>
                        </h4>
                        <p>
                            Android and web based location tracker.
                        </p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section> <!-- #works -->

<!--
==================================================
Portfolio Section Start
================================================== -->
<section id="feature">
    <div class="container">
        <div class="section-heading">
            <h1 class="title wow fadeInDown" data-wow-delay=".3s">My Skills</h1>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="icon-c"></i> icon-c
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">C Programming Language</h4>
                        <p>This is my first programming language learned at my university.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="icon-python"></i> icon-python
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Python </h4>
                        <p>
                            My most favorite programming language. Simply awesome.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="900ms">
                    <div class="media-left">
                        <div class="icon">
                            dj
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Django</h4>
                        <p>Django is my most python framework for building web applications and API.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1200ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="fa fa-rocket" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Web2py</h4>
                        <p>My first python web framework used first when I was at Rumy.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1500ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="icon-php"></i> icon-php
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">PHP</h4>
                        <p>My first web based works was with PHP. I've a certification on PHP.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1800ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="fa fa-database" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">MySQL</h4>
                        <p>My favorite RDBMS and used almost every projects.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1800ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="icon-javascript-alt"></i> icon-javascript-alt
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">JavaScrip</h4>
                        <p>I have knowledge in javascript and experienced in javascript.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1800ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="fa fa-codepen" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Ajax</h4>
                        <p>Building a web app using ajax is a fun.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1800ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="fa fa-linux" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Linux</h4>
                        <p>I am very fond of linux. I use linux as my daily driver and for server.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1800ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="icon-shell"></i> icon-shell
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Bash Script</h4>
                        <p>I've learned bash scripting when I was at Rumy.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1800ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="icon-git"></i> icon-git
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Git</h4>
                        <p>I'm skillful in git. I upload my every project on github and gitlab.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1800ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="icon-docker"></i> icon-docker
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Docker</h4>
                        <p>I've knowledge in docker. Docker eliminates platform problem.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!-- /#feature -->

<!--
==================================================
Call To Action Section Start
================================================== -->
<section id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">SO WHAT YOU THINK ?</h2>
                        <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">If you want to hire me or any query please leave a message.</p>
                        <a href="contact.html" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">Contact With Me</a>
                </div>
            </div>

        </div>
    </div>
</section>

{{end}}